<div class="c-footer">
  <div class="c-footer__social">
   <a href="https://twitter.com/luisdearteixo" target="blank"><img src="../../../assets/twitter.png" alt="" /></a>
   <a href="https://instagram.com/luismrtinez" target="blank"><img src="../../../assets/instagram.png" alt="" /></a>
   <a href="https://www.linkedin.com/in/luis-martínez-enríquez/" target="blank"><img src="../../../assets/linkedin.png" alt="" /></a>
   <a href="https://www.youtube.com/watch?v=_Mn9LbMoWeI" target="blank"><img src="../../../assets/youtube.png" alt="" /></a>
   <a href="https://upgradehub.com" target="blank"><img src="../../../assets/facebook.png" alt="" /></a>
  </div>
  <div><p>®Copyright 2022 Luis Martínez. Angular Proyect made for Upgrade Hub</p></div>
</div>
