figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  //box-shadow: 2px 2px 12px gray;
  margin: 0px;
  overflow: hidden;
  min-width: 274px;
  h3{
    &:hover{
      color: red;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
    }
  }
  img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    box-shadow: 2px 2px 12px gray;
    transition: all 0.3s ease-in-out;
      &:hover {
        filter:saturate(110%);
      -moz-box-shadow: 0 0 12px rgb(161, 37, 37);
      -webkit-box-shadow: 0 0 12px rgb(151, 12, 12);
      box-shadow: 0 0 12px rgb(146, 12, 12);
    }
  }

}
